<div class="col-10 offset-1 about">
  
  <h1>About Splurty</h1>
  <br>
  <p>I created Splurty as my first web app, learning ruby, rails, terminal commands and git control</p>
  <br>
  <p>Soon ill be making my own awesome web applications</p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me_snowboard.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Evan Pineo</h2>
      <br>
      <p>My name is Evan Pineo and I am a student at thefirehoseproject, learning web development</p>
    </div>
  </div>
  
</div>

<br class="clear">
<br>
<br>
<br>
<br>