@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway');

.clear {
  clear: both;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
}

h2 {
  font-family: 'exoextrabold';
  font-weight: 800;
  letter-spacing: 1.5px;
  padding-left: 60px;
  padding-top: 30px;
}

h2 span {
  color: #DDDDDD;
  font-family: 'Raleway', sans-serif;
}

.circle {
  font-weight:bold;
  font-style: italic;
  position: relative;
  border-radius: 100%;
  background: #0080AB;
  border: 1px solid #F7F7F7;
  width: 80px;
  height: 80px;
  margin: 10px 10px;
  text-align: center;
  color: #FFF;
  font-size: 10px;
  line-height: 16px;
  cursor: pointer;
  transform:rotate(11deg);
  -ms-transform:rotate(11deg); /* IE 9 */
  -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

hr {
  clear: both;
}

.links {
  padding-top: 26px;
}

.links a {
  color: black;
  font-size: 25px;
  border-bottom: 6px solid #dfdfdf;
}

.slogan {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  padding-top: 26px;
}

.about {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.modal {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.next-quote {
  color: #FFFFFF;
  font-size: 24px;
  padding: 10px;
  background-color: #0080AB;
  border-radius: 5px;
}

.next-quote:hover {
  text-decoration: none;
  color: #DEDEDE;
}

.footer-blurb {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  text-align: right;
}

.logo:hover {
  text-decoration: none;
}

::selection {
  background-color: #F84342;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}